@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #7B68EE;
  --color-primary-light: #e6e6ff;
  --color-success: #28a745;
  --color-error: #dc3545;
  --color-background-light: #ffffff;
  --color-background-subtle: #f9f9f9;
  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-text-tertiary: #888888;
  --color-border: #eaeaea;
  --color-hover: #f5f5f5;
}


/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded dark:bg-gray-600;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-gray-500;
}

/* Animation for typing indicator */
@keyframes typing {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

.typing-indicator {
  animation: typing 1.4s ease-in-out infinite;
}